# Dependencies
node_modules/
npm-debug.log*
vendor/
dist/

# Native builds
android/
ios/
.expo/

# Environment files
.env
*.env.local
*.env.production

# Builds
*.rar
*.zip
*.tar.gz
build/
*.apk
*.aab
*.ipa

# OS files
.DS_Store
Thumbs.db

# Python
venv/
__pycache__/

# Turbo
.turbo/

# Logs
*.log

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies